@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
h1, h2, h3{
  font-family: 'EB Garamond', serif;
}
p {
     font-family: "Inter", sans-serif;
}
html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 1rem;
  text-align: center;
}
.swiper-pagination-bullet {
  background-color: #94a3b8; 
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #dc2626; 
}

.nav-link {
  position: relative;
  padding-bottom: 4px;
  color: #1f2937; 
  text-decoration: none;
}

.grey-tone {
  filter: grayscale(80%) brightness(100%) contrast(100%);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #dc2626; 
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
